$border_color: #dee4da
$link_color: #0a0a0a
$serif: georgia, serif
$sans_serif: 'Source Sans Pro', sans-serif

body
  background-color: #fafafa
  font: 17.5px $serif
  color: #5a5a5a

strong
  font-weight: bold

.fa
  margin-right: 4px

#wrapper
  margin: 0 auto
  max-width: 630px

header, #content
  text-align: left

header
  margin-bottom: 14px
  padding-top: 12px
  border: 0
  border-top: 8px solid #8EACCC

  a#masthead
    font: 20px $sans_serif
    font-weight: 700
    color: #505050
    letter-spacing: 0.02em
    border: none
    display: inline-block
    margin-bottom: 8px

  a#masthead span.second
    color: #787878

  a#masthead span.third
    color: #999

  ul.navigation
    margin: 0
    list-style-type: none

    li
      display: inline-block

    .fa
      vertical-align: middle
      font-size: 14px

    a
      font-family: $sans_serif
      color: #787878

    a:hover
      color: #3f3f3f

.panel
  background-color: #9E8DAD
  color: #FAFAFA
  font: 16px $sans_serif
  font-weight: 300
  letter-spacing: 0.03em
  border: none
  border-radius: 0
  margin-bottom: 32px

  p
    line-height: 1.4em
    text-align: justify
    margin-bottom: 0

.panel-body
  padding: 8px 10px

.postmeta, .figure_caption
  color: #999

.figure_caption
  display: block
  line-height: 1.6em

ul#post_list
  list-style-type: none
  margin: 0

  li
    display: block
    margin-bottom: 0.6em

  a
    display: inline-block
    font-family: $sans_serif
    color: #787878
    letter-spacing: 0.01em
    border: none

  a:hover
    color: #3f3f3f

  .postmeta
    text-align: right

.post
  img
    margin: 0 auto
    max-width: 100%

  div.gist
    margin-bottom: 1.8em

h1
  display: inline-block
  margin: 0 0 0.6em 0
  font: 28px $sans_serif
  font-weight: 300
  letter-spacing: 0.01em
  color: #505050

h2
  margin: 0 0 0.6em 0
  clear: both
  font: 22px $sans_serif
  font-weight: 700
  color: #6a6a6a

h3
  margin-bottom: 0 0 0.8em 0
  clear: both
  font: 21px $sans_serif
  font-weight: 400
  color: #6a6a6a

p
  line-height: 1.8em
  margin-bottom: 1.8em

ol, ul
  line-height: 1.8em
  margin-bottom: 1.8em
  padding: 0

ol
  list-style-type: decimal

ul
  list-style-type: disc

table
  margin-bottom: 1.8em

thead
  font-weight: bold
  font-family: $sans_serif

th, td
  padding: 8px 18px
  border: 1px solid $border_color
  vertical-align: middle

a
  color: $link_color
  text-decoration: none
  border-bottom: 1px solid $border_color

a:hover
  text-decoration: none
  border-bottom: 1px solid $link_color
  color: #0a0a0a

a.masthead, a.masthead:hover, a.title, a.title:hover
  border-bottom: none

a.imglink
  border: none

img, a img
  border: none

em
  font-style: italic

blockquote
  padding: 10px 18px
  margin: 0.4em 0 1.6em 0
  border: 1px solid #e4ebe3
  border-radius: .3em
  -moz-border-radius: .3em
  -webkit-border-radius: .3em
  color: #6a6a6a

  p
    line-height: 1.8em

  cite
    display: block
    border-top: 1px dashed #dee4da
    margin-top: -.8em
    margin-bottom: 0.2em
    padding-top: .8em
    color: #7a7a7a

  cite span *
    color: #9a9a9a

.small
  color: #999

acronym
  border-bottom: 1px dashed gray

pre
  margin-bottom: 1.8em
  padding: 2px 2px
  border: 1px dashed #e6e6e6

code
  font-family: inconsolata, monospace
  padding: 0px 4px

footer
  margin-top: 2em
  padding-top: 12px
  border-top: 1px dashed $border_color
  font-family: $sans_serif
  letter-spacing: 0.02em
  color: #999

  .fa, a
    color: #5a5a5a

  a:hover
    border-color: #5a5a5a

ul#contact_info_list
  margin: 0 auto
  list-style-type: none

  li
    width: 8em
    display: inline-block
    margin-bottom: 0.5em

  a
    height: 16px
    line-height: 16px
    padding-left: 4px
    font-family: $sans_serif

section.footnotes
  margin: 2em 0 0 0
