body {
  background-color: #f5f5f5;
  font: 87.5% georgia, serif;
  color: #5a5a5a; }

strong {
  font-weight: bold; }

#wrapper {
  margin: 0 auto;
  width: 510px; }

header, #content {
  text-align: left; }

header {
  position: relative;
  height: 34px;
  margin-bottom: 2em;
  padding: 24px 0 12px 0;
  border-bottom: 1px solid #dee4da; }

header a#title {
  float: left;
  display: block;
  font: 1.6em "Kreon", helvetica, sans;
  font-weight: 400;
  color: #787878;
  text-shadow: #cbcbcb 0 1px 0;
  border: none; }

header a#title span {
  color: #505050; }

header a#title:hover {
  border: none; }

header ul.navigation {
  float: right; }

ul.navigation {
  list-style-type: none; }

ul.navigation li {
  float: left; }

header ul.navigation a {
  margin-left: 8px;
  padding-left: 24px; }

ul.navigation a {
  float: left;
  padding: 6px;
  font: 14px "Kreon", helvetica, sans;
  color: #787878;
  letter-spacing: 0.01em;
  border: none; }

ul.navigation a:hover {
  color: #3f3f3f;
  border: none; }

ul.navigation a.archivelink, ul.navigation a.aboutlink {
  padding: 6px 24px; }

ul.navigation a.archivelink {
  background: transparent url(/images/newspaper.png) center left no-repeat; }

ul.navigation a.aboutlink {
  background: transparent url(/images/user-white.png) center left no-repeat; }

.post {
  padding: 0 0 0 0;
  margin-bottom: 4em; }

.post img {
  padding: 8px; }

.postmeta {
  margin-top: 0;
  padding-top: 1px;
  font: 0.9em "Kreon", helvetica, sans;
  color: #999999; }

h1 {
  margin-bottom: 4px;
  font: 1.6em "Kreon", helvetica, sans;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #3f3f3f;
  text-shadow: #cbcbcb 1px 1px 2px; }

h1 a {
  color: #3f3f3f; }

h2 {
  margin-bottom: 1.5em;
  clear: both;
  font: 1.3em "Kreon", helvetica, sans;
  font-weight: bold;
  color: #4e4e4e;
  text-transform: uppercase;
  text-shadow: #cbcbcb 0 1px 1px; }

p {
  line-height: 1.8em;
  margin-bottom: 2.2em; }

ol, ul {
  list-style-type: disc;
  line-height: 1.9em;
  margin: 0 0 1.7em 1em; }

ul li, ol li {
  margin-bottom: 0.2em; }

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #d4d4d4; }

a:hover {
  border: none; }

a.imglink {
  border: none; }

img, a img {
  border: none; }

em {
  font-style: oblique; }

blockquote {
  line-height: 1.6em;
  margin: 0 4px 1.7em 4px;
  padding: 12px 16px 12px 60px;
  border: 1px solid #dee4da;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  background: #fcfcfc url(/images/quote.gif) top left no-repeat;
  color: #6a6a6a; }

blockquote p {
  margin-bottom: 8px; }

cite {
  font-size: 90%; }

.small {
  font-size: 0.9em;
  color: #999999; }

acronym {
  border-bottom: 1px dotted gray; }

code {
  font-family: inconsolata, mensch, monospace;
  padding: 0 4px;
  outline: 1px dotted #e6e6e6; }

footer {
  margin-top: 2em;
  padding: 12px 0 24px 0;
  border-top: 1px solid #dee4da; }

footer ul.navigation {
  float: left; }

footer ul.navigation a {
  margin-right: 8px;
  padding-right: 24px; }
