<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="Evan Meagher" name="author" />
    <meta content="Articles about systems, programming, and software engineering management written by Evan Meagher" name="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="GZGKjdAZ7DHjnkP3uvRN9kBKeCs7T3psGNXQ8wGXviE" />

    <link href="{{site.url}}/atom.xml" rel="alternate" title="The blog of Evan Meagher" type="application/atom+xml" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="/css/screen.css" rel="stylesheet" type="text/css" />
    <link href="/css/syntax.css" rel="stylesheet" type="text/css" />
    <link href="/css/sharingbuttonsio.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="wrapper" class="container">
      <header class="row">
        <div class="col-xs-9">
          <a id="masthead" href="/">evanm<span class="second">.</span><span class="third">website</span></a>
        </div>
      </header>
      <div id="content">
        {{ content }}
      </div>
      <footer>
        <p><i class="fa fa-user" aria-hidden="true"></i> <a href="/about/" title="About the author">About the author</a></li>
        <p><i class="fa fa-rss" aria-hidden="true"></i> <a href="/atom.xml">Smash that subscribe button</a></p>
        <p><i class="fa fa-creative-commons" aria-hidden="true"></i>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0 License</a></p>
      </footer>
    </div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4e87a2a1f5a1f54d11000001');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
      })();
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1298975-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-1298975-1');
    </script>
  </body>
</html>
