<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta name="author" content="Evan Meagher" />
    <meta name="description" content="The website of Evan Meagher" />
  </head>

  <body>
    <header>
      <a href="/">The website of Evan Meagher</a>
    </header>

    <div id="wrapper">
      {{ content }}
      <footer id="footer">
        <a href="/" title="Home">Home</a>
      </footer>
    </div>
  </body>
</html>
