<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="Evan Meagher" name="author" />
    <meta content="The website of Evan Meagher" name="description" />
    <link href="http://fonts.googleapis.com/css?family=Kreon:300,400" rel="stylesheet" type="text/css" />
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/screen.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.boastful.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#boastful').boastful({ empty_message: "" });
      });
    </script>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <a id="title" href="/">The website of <span>Evan Meagher</span></a>
        <ul class="navigation">
          <li><a href="/about.html" title="About" class="aboutlink">About</a></li>
        </ul>
      </header>
      <div id="content">
        {{ content }}
      </div>
      <footer>
        <ul class="navigation">
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="/about.html" title="About">About</a></li>
        </ul>
        <a class="twitterlink" href="https://twitter.com/evanm">@evanm</a>
      </footer>
    </div>
  </body>
</html>
